.Editor__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1156px;

	.Editor__header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 5px 10px 5px 10px;

		font-weight: 600;
		color: var(--brand-color-l-high);

		@media screen and (min-width: 768px) {
			flex-direction: row;
			padding: 0 0 5px 0;
		}

		.Editor-header__room-id {
			display: flex;

			.Editor-room-id__label {
				width: 20ch;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.Editor-room-id__copy-to-clipboard {
				all: unset;

				width: 20px;
				height: 20px;
				cursor: pointer;

				.Editor-copy-to-clipboard__icon {
					width: 100%;
					height: 100%;
					fill: var(--brand-color-l-high);
					transition: fill 0.15s ease-in-out;
				}

				&:hover {
					.Editor-copy-to-clipboard__icon {
						fill: var(--brand-color-l-highest);
						transition: fill 0.15s ease-in-out;
					}
				}
			}
		}
	}
}

.Editor {
	position: relative;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
}

.EditorTextArea__corner {
	--EditorTextArea__corner--width: 2px;
	position: absolute;
	width: 50px;
	height: 50px;

	border: var(--EditorTextArea__corner--width) solid
		var(--brand-color-l-highest);
}

.EditorTextArea__corner:nth-child(1) {
	top: 0;
	left: 0;
	border-width: var(--EditorTextArea__corner--width) 0 0
		var(--EditorTextArea__corner--width);
}

.EditorTextArea__corner:nth-child(2) {
	top: 0;
	right: 0;
	border-width: var(--EditorTextArea__corner--width)
		var(--EditorTextArea__corner--width) 0 0;
}

.EditorTextArea__corner:nth-child(3) {
	bottom: 0;
	left: 0;
	border-width: 0 0 var(--EditorTextArea__corner--width)
		var(--EditorTextArea__corner--width);
}

.EditorTextArea__corner:nth-child(4) {
	bottom: 0;
	right: 0;
	border-width: 0 var(--EditorTextArea__corner--width)
		var(--EditorTextArea__corner--width) 0;
}

.Preview {
	border: 0;
}

.EditorTextarea,
.Preview {
	flex: 1 1 calc(50% - 5px);
	aspect-ratio: 16/9;
}

@media screen and (max-width: 640px) {
	.EditorTextarea,
	.Preview {
		flex: 0 0 calc(100% - 5px);
		aspect-ratio: 16/9;
	}
}

.EditorTextarea {
	--EditorTextArea-JS-color: hsl(50, 90%, 50%);
	--EditorTextArea-HTML-color: hsl(0, 90%, 50%);
	--EditorTextArea-CSS-color: hsl(220, 90%, 50%);

	position: relative;

	font-size: 1em;
}

.EditorTextarea > span {
	position: absolute;
	bottom: 5px;
	right: 10px;

	font-size: 0.85em;
	font-weight: 600;
	letter-spacing: 2px;
	opacity: 0.5;
}

.EditorTextarea > textarea {
	width: 100%;
	height: 100%;
	resize: none;

	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 0.9em;
	padding: 0.5em;

	background-color: black;
	color: var(--brand-color-l-highest);
	border: 0;
}

.EditorTextarea > textarea:focus {
	outline: 1px solid var(--brand-color-l-highest);
}

.EditorTextarea.--editing-JS {
	color: var(--EditorTextArea-JS-color);
}

.EditorTextarea.--editing-HTML {
	color: var(--EditorTextArea-HTML-color);
}

.EditorTextarea.--editing-CSS {
	color: var(--EditorTextArea-CSS-color);
}
