.Login {
	width: 100%;
	max-width: 25rem;
	height: 15rem;

	color: var(--brand-color-l-high);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	.Login__header_options {
		flex: 0 0 max-content;
		width: 100%;
		display: flex;
		gap: 10px;
		justify-content: center;

		button {
			all: unset;

			cursor: pointer;

			color: inherit;
			font-weight: bold;
			line-height: 1;

			border-bottom: 3px solid transparent;

			&:focus {
				outline-offset: 2.5px;
			}

			&.--active {
				border-color: currentColor;
			}
		}
	}

	.Login__inputs_box {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 10px;
	}

	.Login__submit_state {
		display: flex;
		align-self: self-start;
		justify-content: space-between;
		width: 80%;

		strong {
			flex: 0 0 20ch;

			color: var(--unsuccess-color);
		}

		button {
			all: unset;
			margin-left: auto;
			cursor: pointer;

			padding: 0.15em 0.35em;

			height: max-content;
			flex: 0 0 5ch;

			text-align: center;
			font-weight: 500;
			letter-spacing: 1px;

			background-color: var(--brand-color-l-lowest);
			color: var(--primary-color-l-base);

			user-select: none;
		}
	}
}

.Login__Input {
	display: flex;
	align-items: center;
	gap: 1ch;

	color: inherit;

	span {
		flex: 0 0 12ch;
		font-weight: bold;
	}

	input {
		flex: 0 0 20ch;
		height: 100%;

		padding: 0.25em;

		color: inherit;
		background-color: transparent;
		border: 2px solid currentColor;

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			-webkit-box-shadow: 0 0 0 30px transparent inset !important;
			-webkit-background-clip: text;
			-webkit-text-fill-color: var(--brand-color-l-high);
			border-color: var(--brand-color-l-high);
		}
	}

	button {
		all: unset;

		flex: 0 0 6ch;

		cursor: pointer;
		color: inherit;
		font-size: 0.95em;
		font-weight: normal;

		user-select: none;
	}
}
