.InputText {
    flex: 1 1 auto;

    display: flex;
    flex-direction: row;

    color: inherit
}

.InputText > input {
    flex: 1 1 auto;
    min-width: 30ch;
}

.InputText > span {
    flex: 0 0 30%;
    color: inherit;
}

.SwitchLoginType > input[type="checkbox"] {
    display: none;
}

.SwitchLoginTypeBT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    color: inherit;
}

.SwitchLoginTypeBT > span {
    position: relative;
    color: inherit;
    font-weight: 600;
    font-size: .75em;
    animation: SwitchLoginTypeOpacityChangeAnim1 .35s ease-out forwards; 
}

.SwitchLoginType > input[type="checkbox"]:checked ~ .SwitchLoginTypeBT > span {
    animation: SwitchLoginTypeOpacityChangeAnim2 .35s ease-out forwards;
}

.SwitchLoginTypeBT > button {
    width: 100%;
    aspect-ratio: 16/9;

    max-width: 7ch;
    padding: 4px;

    outline: 0;
    border: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: inherit;
    background: transparent;

    border: 2px solid currentColor;
    border-radius: 9px;

    cursor: pointer;
}

.SwitchLoginType > input[type="checkbox"]:checked ~ .SwitchLoginTypeBT > button {
    align-items: flex-end;
}

.SwitchLoginTypeBT > button > span {
    height: 100%;
    aspect-ratio: 1;

    display: block;

    color: inherit;
    background: currentColor;
    border-radius: 5px;
}

.Login {
    --Login-background: var(--secondary-color-l-base);
    --Login-color: var(--brand-color-l-high);

    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 1rem;

    color: var(--Login-color);
}

.Login__inputs_box {
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: inherit;
}

.Login input {
    padding: 0 2px;

    outline: 0;
    border: 1px solid currentColor;

    text-align: center;
    color: var(--Login-color);
    background: var(--Login-background);
}

.Login input:focus, 
.Login button:focus {
    outline: 1px solid currentColor;
    outline-offset: 2px;
}

.Login input:not([type="submit"])::selection {
    background: var(--Login-color);
    color: var(--Login-background);
}

.Login > input {
    align-self: flex-end;

    width: max-content; 

    font-size: 1.2em;
    padding: .15em .35em;

    border: 0;
    border-radius: 3px;

    outline-color: var(--Login-color) !important;

    background: var(--Login-color);
    color: var(--Login-background);

    cursor: pointer;
}

.Login > strong {
    color: var(--unsuccess-color);
}

@keyframes SwitchLoginTypeOpacityChangeAnim1 {
    0% {
        bottom: 0;
        opacity: .8;
    }
    50% {
        bottom: 10px;
        opacity: 1;
    }
    100% {
        bottom: 0;
        opacity: .5;
    }
}

@keyframes SwitchLoginTypeOpacityChangeAnim2 {
    0% {
        bottom: 0;
        opacity: .8;
    }
    50% {
        bottom: 10px;
        opacity: 1;
    }
    100% {
        bottom: 0;
        opacity: .5;
    }
}
